@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFFFFF;
  color: #17344D;
  overflow-x: hidden;
  max-width: 100vw;
}

html {
  overflow-x: hidden;
  max-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Jost', sans-serif;
  font-size: 24px;
  color: #17344D;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 110px);
  font-family: 'Jost', sans-serif;
  font-size: 32px;
  color: #8E8E8E;
  padding: 32px;
  text-align: center;
}
